<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROCK Networks Permit Application Tracking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style5.css">
    <script>
      function validateForm() {
        let password = document.forms["myForm"]["password"].value;
        let confirmPassword = document.forms["myForm"]["confirmPassword"].value;
        if (password !== confirmPassword) {
          alert("Password & Confirm password should be matched.");
          return false;
        }
      }
      </script>
</head>
<body>
  <div class="container">

    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="/login" method="post">
        <input type="text" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check">Signup</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <form name="myForm" action="/register" onsubmit="return validateForm()" method="POST">
        <input type="text" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Create a password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm your password" required>
        <input type="submit" class="button" value="Signup"/>
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>