<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <body>
        <div class="testbox">
          <form action="/addemaildomains" method="POST">
            <div class="formdata">
                <div class="banner">
              <h1>Add Email Domains to Whitelist</h1>
            </div>
            <br/>
            <br/>
            <div class="item">
                <label for="Email Domain">Email Domains<span>*</span> (You can add multiple domains with comma separated e.g. bell.ca,hydroone.ca,rocknetworks.com)</label>
                <input type="text" name="email_domain" required/>
            </div>
            <div class="btn-block">
                <!-- <button type="back" href="#" onclick="history.back()">Go Back</button> -->
                <button type="submit" >Submit</button>
            </div>
          </form>
        </div>
      </body> -->
    

    <!-- <script src='js/main.js'></script> -->
</body>
</html>
