<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/main.js"></script>
    <script>
      function validateForm() {
        let emailDomains = document.forms["myForm"]["email_domain"].value;
        const domains = emailDomains.split(",");
        const pattern = /^[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,6}$/i;
        for(let i = 0; i < domains.length; i++) {
          if (!pattern.test(domains[i].trim())) {
            alert("Please enter the valid domain");
            return false;
            break;
          }
        }
      }
    </script>
</head>
<body>

     <body> 
      <div class="logout-btn">
        <button type="submit" onclick="deleteAllCookies('admin')">Log out</button>
      </div>
        <div class="testbox">
          <form name="myForm" action="/add-email-domains" onsubmit="return validateForm()" method="POST">
            <div class="formdata">
                <div class="banner">
              <h1>Add Email Domains to Whitelist</h1>
            </div>
            <br/>
            <br/>
            <div class="item">
                <label for="Email Domain">Email Domains<span>*</span> (You can add multiple domains with comma separated e.g. bell.ca,hydroone.ca,rocknetworks.com)</label>
                <input type="text" name="email_domain" value="<%= domainString %>" required/>
            </div>
            <div class="btn-block">
                <button type="submit" >Submit</button>
            </div>
          </form>
        </div>
      </body>
</body>
</html>
